body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto auto 1fr;
    grid-template-areas: "header header" "nav nav" "section section" "aside aside" "footer footer";
    grid-gap: 0.5em 1em;
}

footer {
    background-color: #696969;
    grid-area: footer;
    width: 82%;
    margin: 0 auto;
}

@media screen and (min-width: 670px) {
    body {
        grid-template-areas: "header header" "nav nav" "section aside" "footer footer";
        grid-gap: 1em 2em;
    }

    footer {
        width: auto;
        margin: 0;
    }
}

header {
    grid-area: header;
    max-height: 200px;
}

nav {
    grid-area: nav;
}

section {
    grid-area: section;
}

article {
    background-color: #bababa;
    grid-area: article;
}

aside {
    background-color: #bababa;
    grid-area: aside;
}



footer p {
    color: white;
}

p {
    padding-left: 2%;
    padding-right: 2%;
}

h1 {
    font-size: 30px;
    padding-left: 3%;
}

h2 {
    font-size: 23px;
    padding-left: 3%;
}